Blueprint Css Buttons in HAML

%button{ :type => "submit", :class => "button negative" }
  %img{ :src => "stylesheets/blueprint/plugins/buttons/icons/tick.png", :alt => "" } 
    Save
    
	<a class="button" href="/password/reset/">
	  <img src="stylesheets/blueprint/plugins/buttons/icons/key.png" alt=""/> Change Password
	</a>

	<a href="#" class="button negative">
	  <img src="stylesheets/blueprint/plugins/buttons/icons/cross.png" alt=""/> Cancel
	</a>